* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 0 auto;
    min-width: 140px;
}

.blue_square_ {
    border: 1px solid black;
    background-color: gray;
    height: 400px;
    width: 80%;
    

}

.red_square_ {
    border: 1px solid black;
    background-color: antiquewhite;
    height: 400px;
    width: 50vw;
}

.green_square_ {
    border: 1px solid black;
    background-color: aqua;
    height: 50vh;
    width: 25vw;
}
