* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    min-width: 400px;
}

img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}